[js-btn-bloco]{
    cursor: pointer;
}

[js-bloco]:not([js-tabs-always-show]) {
    display: none;
}

@for $i from 1 through 10 {
    [js-bloco-ativo="#{$i}"] [js-bloco="#{$i}"] {
        display: block;
    }
}